.containerTerms{
  position: relative;
  text-align: center;
}
.bg-trans {
  background: rgba(216, 215, 215, 0.8);
}

.p-box {
  padding: 2%;
  color: black;
  text-align: left;
}
.title {
  text-align: center;
  color: #fff;
  background: #0e4000a8;
  font-size: 30px;
  padding: 1%;
}
